@import 'colors'; 

.btn {
    border-radius: 20px;
    border-style: none;
    height: 32px;
    width: 100px;
    background-color: $btn;
    color: white; 
    cursor: pointer;

    &:hover {
        background-color: $btn-hover;
    }
}